<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zlc.season.desolator">

    <application>
        <activity
            android:name="zlc.season.desolator.hook.StubActivity"
            android:exported="false" />

        <provider
            android:name=".DesolatorInit"
            android:authorities="zlc.season.desolator.DesolatorInit" />
    </application>
</manifest>